                <table  *ngFor="let p of  this.products | async  ">
                    <tr>
                        <td>
                            <img border="1" height="75" src="Assets/{{p.imagePath}}" width="100">
                        </td>
                        <td>{{p.name}}
                <br>
                            <span class="ProductPrice">
                                <input type="hidden" value="{{p.productId}}" name="hdnProductId" />
                                <strong>Price:</strong>
                                {{p.unitPrice}}</span>
                        </td>
                    </tr>

                  
                </table>
             