<body>
  <form action="Cars" id="ctl01" method="post" name="ctl01">
      <header>
          <div class="content-wrapper">
              <div class="float-left">
                  <p class="site-title">
                      <a href="/" id="A2">
                          <img id="Logo"
                              src="Assets/logo.jpg" style="border-style: None;"></a>
                  </p>
              </div>                
          </div>
      </header>

      <div id="body">
          <section class="featured">
              <div class="content-wrapper">
                  <hgroup class="title">
                      <h1>Products</h1>
                  </hgroup>

                  <section class="featured">
                      <div style="margin-left: 2em">
                          <table>
                              <tr>
                                  <td style="width: 30%;vertical-align:top;">
                                      <hgroup class="title">
                                          <h1>Wingtip Toys</h1>
                                          <h2>Wingtip Toys can help you find the perfect gift</h2>
                                      </hgroup>
                                      <p>
                                          We're all about transportation toys. You can order 
                                  any of our toys today. Each toy listing has detailed 
                                  information to help you choose the right toy.
                                      </p>
                                  </td>
                                  <td>
                                      <table>
                                          <tr>
                                              <td>
                                                  <img border="1" height="75" src="Assets/carconvert.png" width="100">
                                              </td>
                                              <td>Convertible Car
                                      <br>
                                                  <span class="ProductPrice">
                                                      <strong>Price:</strong>
                                                      $22.50</span>
                                              </td>
                                          </tr>

                                          <tr>
                                              <td>
                                                  <img border="1" height="75" src="Assets/carearly.png" width="100">
                                              </td>
                                              <td>Old-time Car
                                      <br>
                                                  <span class="ProductPrice">
                                                      <strong>Price:</strong>
                                                      $15.95</span>
                                              </td>
                                          </tr>

                                          <tr>
                                              <td>
                                                  <img border="1" height="75" src="Assets/carfast.png" width="100">
                                              </td>
                                              <td>Fast Car
                                      <br>
                                                  <span class="ProductPrice">
                                                      <strong>Price:</strong>
                                                      $32.99</span>
                                              </td>
                                          </tr>

                                          <tr>
                                              <td>
                                                  <img border="1" height="75" src="Assets/carfaster.png" width="100">
                                              </td>
                                              <td>Super Fast Car
                                      <br>
                                                  <span class="ProductPrice">
                                                      <strong>Price:</strong>
                                                      $8.95</span>
                                              </td>
                                          </tr>
                                      </table>
                                  </td>
                                  <td>
                                    <app-product-list></app-product-list>
                                  </td>
                              </tr>
                          </table>

                      </div>
                  </section>
              </div>
          </section>

          <section class="content-wrapper main-content clear-fix"></section>
      </div>

      <footer>
          <div class="content-wrapper">
              <div class="float-left">
                  <p>OrderDynamics Coding Exercise</p>
              </div>
          </div>
      </footer>
  </form>
</body>